{% extends 'bootstrap_4.html.twig' %}

{% block title %}Détail de {{ theuser.getThename }}{% endblock %}

{% block content %}


 <!-- Begin page content -->
        <main role="main" class="flex-shrink-0">
            <div class="container">
    <h1>Détail de {{ theuser.getThename }}</h1>
    <hr>

        <h2>{{ theuser.getId }}</h2>
    <h3>{{ theuser.getThename }}</h3>
    <p>{{ theuser.getThemail }}</p>

</div>
        </main>
{% endblock %}
