{% extends 'base.html.twig' %}

{% block title %}Détail de {{ theuser.getThename }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Détail de {{ theuser.getThename }}</h1>
    <nav>
        <ul>
            <li><a href="{{ path("site_accueil") }}">Accueil</a></li>
        </ul>
    </nav>

        <h2>{{ theuser.getId }}</h2>
    <h3>{{ theuser.getThename }}</h3>
    <p>{{ theuser.getThemail }}</p>

</div>
{% endblock %}
